<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <!-- android:icon="@mipmap/ic_launcher" -->
    <!-- android:roundIcon="@mipmap/ic_launcher_round" -->
    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_launcher_color"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher_color"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".ui.activities.AuthActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppTheme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.AuthMobileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.AuthEmailLoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.WalletCreditDebitActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.ComingSoonActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>